<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'owners')}">
<head>
<meta charset="UTF-8">
<title>Pet Clinic Index</title>
</head>
<body>
	<h1>Owners Index Page</h1>
	
	<table class="table table-striped">
	<thread>
	<tr>
	<th style="width: 150px;">ID</th>
	<th style="width: 150px;">FirstName</th>
	<th style="width: 150px;">LastName</th>
	</tr>
	</thread>
	
	<tbody>
		<tr th:each="owner : ${owners}">
		<td th:text="${owner?.id}">1</td>
		<td th:text="${owner?.firstName}">firstName</td>
		<td th:text="${owner?.lastName}">lastName</td>
		</tr>
	</tbody>
	</table>

</body>
</html>